<br>
<br>
<br>
<%= image_tag("RMMimage.png", :size => "150x150") %><%= @thx %><br>
<br>
<p>ソレじゃないサーチはいかがでしたか？ご感想をおまちしています！<br>
こうしたら、もっとオモシロイ！というアイデアがありましたら、ぜひ、お聞かせください。<br>
メッセージを送っていただいた方全員に、ロボットが女優の<a href="http://artist.amuse.co.jp/artist/yoshitaka_yuriko/">吉高由里子</a>さんのモノマネで<br>
感謝のメッセージをお届けします。</p>
<form action="<%= message_post_path %>" method="POST">
    <textarea name="message" required></textarea>
    <input type="submit" value="投稿">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

