<br>
<br>
<br>
<%= image_tag("RMMimage.png", :size => "150x150") %><br>
<br>

あなたの混乱を助長する、脚韻型変換 　ソレじゃない翻訳。<br>
<br>
入力された文章の、その全ての名詞を検索し、脚韻を踏んで違う言葉を返します。<br>
ご想像のとおり、長い文章だと全く意味不明のイミフー体験を味わうことができます。<br>
いやロボットも一生懸命なのです。でも回せば回すほどイミフー。<br>
たぶん俳句くらいの長さが一番おもしろい感じっぽいです。<br>
<br>



</p>
<form action="<%= translate_show_path %>" method="GET">
	<div>
    	<textarea name="translation" required><%= @cause %></textarea>
		    <%= show_translation @result %>
	</div>
	<div>
    	<input type="submit" value="翻訳">
	</div>
</form>

