<br>
<br>
<br>
<%= image_tag("robotleft.png", :size => "150x150") %><%= show_translation @result %><br>
<br>

あなたの混乱を助長する、脚韻型変換 　ソレじゃない翻訳。<br>
<br>
入力された文章の、その全ての名詞を検索し、脚韻を踏んで違う言葉を返します。ご想像のとおり、長い文章だと全く意味不明のイミフー体験を味わうことができます。いやロボットも一生懸命なのです。。。頑張ってCPUフル回転なのです。。。たぶん俳句くらいの長さが一番おもしろい感じっぽいです。。。<br>
<br>



</p>
<form action="<%= translate_show_path %>" method="GET">
    <textarea name="translation" required></textarea>
    <input type="submit" value="翻訳">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

