<br>
<br>
<br>
<%= image_tag("RMMimage.png", :size => "150x150") %><br>
<br>
<p>それじゃない翻訳</p>
<form action="<%= translate_show_path %>" method="GET">
	<div>
    	<textarea name="translation" required><%= @cause %></textarea>
		<%= show_translation @result %>
	</div>
	<div>
    	<input type="submit" value="翻訳">
	</div>
</form>

