<br>
<br>
<br>
<%= image_tag("RMMimage.png", :size => "150x150") %><br>
<br>

あなたの理解を阻害する、脚韻型翻訳 　ソレじゃないトランスレート。<br>
<br>
入力された文章の全ての名詞を検索し、脚韻を踏んで違う言葉を返します。<br>
長い文章を入力すると全く意味不明のイミフー体験を味わうことができます。<br>
いやロボットも一生懸命なのです。でも回せば回すほどイミフー。<br>
どうやら俳句くらいの長さだとボチボチ面白いようです。。。<br>
<br>



</p>
<form action="<%= translate_show_path %>" method="GET">
	<div>
    	<textarea name="translation" cols="40" rows="5"　required><%= @cause %>いやロボットも一生懸命なのです。でも回せば回すほどイミフー。</textarea>
		<%= show_translation @result %>

	</div>
	<div>
    	<input type="submit" value="翻訳">
	</div>
</form>

